html, body {
    
    position: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
  }
/* 

    canvas{
        display: block;
    } */

    .navbar {
       
        background-color: #333;
        overflow: hidden;
        flex: 0 0 auto; /* Ширина будет автоматически рассчитываться в соответствии с содержимым */
        height: 7%; /* Высота будет 10% высоты родительского элемента */
    }
    
    .navbar a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    .navbar a:hover {
        background-color: #ddd;
        color: black;
    }

    /* .navbar button {
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
        padding: 14px 16px;
        text-decoration: none;
        margin: 8px;
    } */
    
    .navbar button:hover {
        background-color: #45a049;
    }
    

    .navbar {
        
        height: 50px;
        background-color: #333;
        color: #fff;
        display: flex;
        align-items: center;
        padding: 0 20px;
    }
      

    /* Короче надо навести суету с owerflow всеми этими приколами*/ 

    .navbar a {
        color: #fff;
        text-decoration: none;
        margin-right: 20px;
    }

    .container-wrapper {
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: calc(100% - 60px);
        gap: 10px;
        /* padding: 10px; */
        overflow: auto;
    }

   .plain {
        outline: 8px solid rgb(255, 0, 0);
        display: grid;
        grid-template-columns: 4fr minmax(120px, 1fr);
        grid-template-rows: 8fr 1fr;
        /* grid-template-areas:
            "plain__canvas-wrapper plain__legend"
            "mouse-coordinates ."; */
        gap: 50px;
        overflow: hidden;
    }

    .plain__canvas-wrapper {
        overflow: hidden;
        box-sizing: border-box;
        
        /* border-radius: 3px; */
        position: relative;
    }

    .plain__legend-item {
        
        min-width: 60px;
        display: flex;
        align-items: flex-start;
        margin-bottom: 5px;
    }
      
    .plain__legend-color {
        
        width: 20px;
        height: 20px;
        margin-right: 10px;
        flex: 0 0 auto;
    }
      
    .plain__legend-label {
        
        font-size: 14px;
        line-height: 1.4;
        /* color: #333; */
        min-width: 80px;
        flex: 1 1 auto;
        
        /* Стили для переноса текста до 100 пикселей */
        word-break: break-all;
        overflow-wrap: break-word;
        hyphens: auto;
    }
    /* ну вот эта вещь работает только по размеру экрана //TODO - разобраться че с этим делать*/
    @media (min-width: 800px) {
        .plain__legend-label {
            /* Стили для скрытия длинного текста после 100 пикселей */
            display: inline-block;
            max-width: 150px; /* Установите желаемую максимальную ширину */
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
            /* Удаление стилей для переноса текста */
            word-break: normal;
            overflow-wrap: normal;
            hyphens: none;
        }
    }
    
    /* С языками разобраться ещё надо */
    /* .plain__legend-label[lang="ru"] {
        hyphens: auto;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
      }
      
      .plain__legend-label[lang="en"] {
        hyphens: auto;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
      } */

    svg[name="gridSVG"],.planeCanvas {
        
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }
    .plain__canvas-wrapper:focus-within{
        
        /* border: 2px solid rgb(255, 0, 0);
        border-radius: 4px; */
    }
/*     
    .plain__canvas-wrapper:focus-within{
        border: 1px solid rgb(255, 0, 0);
        border-radius: 3px
    } */

    .plain__legend {
        
        overflow-x: hidden;
        overflow-y: scroll;
        grid-column: 2;
        grid-row: 1 / span 2;
    }

    .mouse-coordinates {
        text-align: right;
    }
 
      
    .threeD-container {
        overflow: hidden;
        width: 100%;
        height: 100%;

    }
    
    /* #containerXZ, #containerYZ, #containerXY, #container3D {
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    svg[name="gridSVG"], canvas {
        position: absolute;
        top: 0;
        left: 0;
    } */
    
    .selected {
        background-color: rgba(33, 78, 98, 0.5); /* Прозрачная синеватая заливка */
    }

    
    div[name="mouseCoordinates"] {
        
        overflow: hidden;
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.8);
        font-family: Arial, sans-serif;
        font-size: 2vw;
        text-align: center;
    }
