    html, body { 
        position: fixed;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        font-family: Arial, sans-serif;
    }

    .navbar {
        height: 50px;
        background-color: #333;
        color: #fff;
        display: flex;
        align-items: center;
        padding: 0 20px;
        flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    }
    
    .navbar a {
        display: block;
        color: white;
        text-align: center;
        padding: 10px; /* Увеличили отступы для лучшей читаемости */
        text-decoration: none;
        white-space: nowrap; /* Предотвращает перенос текста на новую строку */
        margin-right: 1vw;
        border: 1px solid black; /* Добавили границу */
        border-radius: 5px; /* Скругление углов */
    }
    
    .navbar a:hover {
        background-color: #ddd;
        color: black;
        border-color: #333; /* Изменяем цвет границы при наведении */
    }

    .switchContainer {
        display: none;
        position: absolute; /* Абсолютное позиционирование */
        bottom: 1vh; /* Располагаем внизу */
        right: 1vw; /* Располагаем справа */
        background-color: #333; /* Цвет фона */
        color: #fff; /* Цвет текста */
        padding: 1vh; /* Внутренние отступы */
        border-radius: 1vh; /* Скругление углов */
        text-decoration: none; /* Убираем подчеркивание ссылки */
    }

    .container-wrapper {
        padding: 2px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: calc(100% - 60px);
        gap: 10px;
        overflow: auto;
    }

    .plain {
        display: grid;
        grid-template-columns: 4fr minmax(120px, 1fr);
        grid-template-rows: 8fr 1fr;
        gap: 2vh;
        overflow: hidden;
    }

    .plain__canvas-wrapper {
        overflow: hidden;
        box-sizing: border-box;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 3px;
        position: relative;
    }

    .plain__legend-item {
        min-width: 60px;
        display: flex;
        align-items: flex-start;
        margin-bottom: 5px;
    }
      
    .plain__legend-color {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        flex: 0 0 auto;
    }
      
    .plain__legend-label {
        font-size: 14px;
        line-height: 1.4;
        min-width: 80px;
        flex: 1 1 auto;
        
        /* Стили для переноса текста до 100 пикселей */
        word-break: break-all;
        overflow-wrap: break-word;
        hyphens: auto;
    }
    /* ну вот эта вещь работает только по размеру экрана //TODO - разобраться че с этим делать*/

    svg[name="gridSVG"],.planeCanvas {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }

    .plain__canvas-wrapper:focus-within{
        border: 2px solid rgb(255, 0, 0);
    }

    .planeCanvas:focus{
        outline: none;
    }

    .plain__legend {
        overflow-x: hidden;
        overflow-y: scroll;
        grid-column: 2;
        grid-row: 1 / span 2;
    }

    .mouse-coordinates {
        text-align: right;
    }
 
      
    .threeD-container {
        overflow: hidden;
        width: 100%;
        height: 100%;

    }
    
    .selected {
        background-color: rgba(33, 78, 98, 0.5); /* Прозрачная синеватая заливка */
    }

    
    div[name="mouseCoordinates"] {
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.8);
        font-family: Arial, sans-serif;
        font-size: 2vw;
        text-align: center;
    }

        /* Медиа-запросы для адаптивности */
    
        @media screen and (max-width: 900px) and (max-height: 900px) {

            .navbar {
                padding: 2px; /* Уменьшаем отступы */
                height: auto; /* Позволяет navbar увеличиваться по вертикали при необходимости */
            }
        
            .navbar a {
                padding: 2px; /* Уменьшаем отступы для лучшей адаптивности */
                margin: 2px; /* Добавляем небольшие отступы между кнопками */
            }
    
            .switchContainer {
                display: block;
            }
    
            .container-wrapper {
                padding: 2px;
                display: gird;
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(1, 1fr);
                height: calc(100% - 60px);
                overflow: auto;
            }
        
            .container-wrapper > div {
                display: none; /* Скрываем все контейнеры */
            }

            .container-wrapper > div:first-child {
                display: grid; /* Показываем только первый контейнер */
            }
        
        }
